body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

.bottle {
  display: block;
  height: 40%;
  cursor: pointer;
  transition: transform 3s ease-out;
  transform-origin: center 65%;
  overflow: hidden;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
